@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    li{
        display:inline-block;
        margin-right:5px;
        font-size:14px;
    }
}
@layer utilities{
    .delete-meal{
        background-color:#2DD4BF;
        padding:4px 8px 8px 4px;
        border-radius:4px;
        float:right;
    }
    .meal-container{
        padding:8px;
        margin-top:10px;
        margin-bottom:10px;
        border-left:3px solid #2DD4BF;
    }
    .carbsList,.proteinList,.fatsList{
        margin-left:10px;
        margin-right:10px;
    }
    .carbsList{
        color:#2DD4BF;
    }
    .proteinList{
        color:#60A5FA;
    }
    .fatsList{
        color:#818CF8;
    }
}

