@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    li{
        display:inline-block;
        margin-right:5px;
        font-size:14px;
    }
}
@layer utilities{
    .meal-list{
        border:2px solid white;
    }
    .meal-container{
        border:2px solid white;
        padding:8px;
        margin-top:5px;
        margin-bottom:5px;
    }
}

