@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    li{
        display:inline-block;
        margin-right:5px;
        font-size:14px;
    }
}
@layer utilities{
    .delete-meal{
        border:2px solid white;
    }
    .meal-container{
        padding:8px;
        margin-top:10px;
        margin-bottom:10px;
        border-left:3px solid white;
    }
    .delete-meal{
        padding-left:8px;
        padding-right:8px;
        padding-top:4px;
        padding-bottom:4px;
        float:right;
    }
}

